header {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-size: cover;
    margin: 0 auto; /* Center the header element */
    max-width: 800px; /* Set a maximum width for the header element */
  }
  
  main {
    margin: 0 auto; /* Center the main element */
    max-width: 800px; /* Set a maximum width for the main element */
  }
  
  .rtl {direction:rtl; }
  .box-tam { display:inline-block; padding:0 1em 0 1em; vertical-align:top; text-align:center; } 
  .boxdeva { display:inline-block; vertical-align:top; padding:0 4% 1em 4%; text-align:center; } 
  .boxdevb { display:inline-block; vertical-align:top; padding:0 0.3em 0 0.3em; text-align:center; } 
  .boxdevc {display:table-cell; vertical-align:top; }
  .virama { margin-left:1em; margin-top:1.4em; } 

  .as {display:inline-block; padding-bottom:1em; text-align:center; font-family:Arial, sans-serif; }
.as p{ margin: 0.15em 0 0.15em 0;} 
.asd {display:inline-block; padding-bottom:0.25em; text-align:center; font-family:Arial, sans-serif; }
.asd p{ margin: 0.15em 0 0.15em 0;} 
